# Import Libaraies

In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import matplotlib.pyplot as plt


ticker_label_list = ['ADABTC', 'ONEBTC', 'HBARBTC', 'VETBTC', 'LTCBTC', 'BCHBTC', 'ETHBTC']

# environment variables hidden

## Helper

In [4]:
def replace_db(df, table_name): 
    """_summary_
        replace a db with sqlalchemy
    Args:
        df (pd.DataFrame): df to push to database
        table_name (str): table name in database
    """
    myeng = create_engine(url)

    dbConnection = myeng.connect()
    df.to_sql(con=myeng, name=table_name,  if_exists='replace', index=False)
    dbConnection.close()

# Clean Database: historical_data_30_table ------

## Connect to database

In [5]:
myeng = create_engine(url)
dbConnection = myeng.connect()
query = f'SELECT * FROM historical_data_30_table'
# get raw historical data table as pandas df
exsisting_df = pd.read_sql(query, dbConnection)
dbConnection.close()

## Observe

In [6]:
exsisting_df

,index,datetime,ticker_id,open,high,low,close,volume
0,0.0,2022-05-26 17:00:00+00:00,ADABTC,1.640000e-05,1.646000e-05,1.628000e-05,1.645000e-05,7.002756e+05
1,1.0,2022-05-26 17:30:00+00:00,ADABTC,1.644000e-05,1.647000e-05,1.631000e-05,1.637000e-05,3.881084e+05
2,2.0,2022-05-26 18:00:00+00:00,ADABTC,1.638000e-05,1.642000e-05,1.612000e-05,1.612000e-05,4.512271e+05
3,3.0,2022-05-26 18:30:00+00:00,ADABTC,1.611000e-05,1.616000e-05,1.587000e-05,1.590000e-05,1.129116e+06
4,4.0,2022-05-26 19:00:00+00:00,ADABTC,1.590000e-05,1.606000e-05,1.576000e-05,1.588000e-05,9.765054e+05
...,...,...,...,...,...,...,...,...
5294,NaN,2022-06-11 11:00:00+00:00,HBARBTC,2.730000e-06,2.730000e-06,2.730000e-06,2.730000e-06,8.900000e+01
5295,NaN,2022-06-11 11:00:00+00:00,VETBTC,9.800000e-07,9.800000e-07,9.800000e-07,9.800000e-07,0.000000e+00
5296,NaN,2022-06-11 11:00:00+00:00,LTCBTC,1.854000e-03,1.854000e-03,1.852000e-03,1.852000e-03,3.013350e+02
5297,NaN,2022-06-11 11:00:00+00:00,BCHBTC,5.540000e-03,5.540000e-03,5.530000e-03,5.530000e-03,7.176000e+00
5298,NaN,2022-06-11 11:00:00+00:00,ETHBTC,5.382200e-02,5.382200e-02,5.373500e-02,5.375900e-02,9.612597e+02

In [7]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    757
Name: ticker_id, dtype: int64
ONEBTC    757
Name: ticker_id, dtype: int64
HBARBTC    757
Name: ticker_id, dtype: int64
VETBTC    757
Name: ticker_id, dtype: int64
LTCBTC    757
Name: ticker_id, dtype: int64
BCHBTC    757
Name: ticker_id, dtype: int64
ETHBTC    757
Name: ticker_id, dtype: int64

## Clean Dublicates

In [8]:
exsisting_df.drop_duplicates(subset=['datetime', 'ticker_id'], inplace=True)

In [11]:
exsisting_df.drop(columns='index', inplace=True)

In [12]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    757
Name: ticker_id, dtype: int64
ONEBTC    757
Name: ticker_id, dtype: int64
HBARBTC    757
Name: ticker_id, dtype: int64
VETBTC    757
Name: ticker_id, dtype: int64
LTCBTC    757
Name: ticker_id, dtype: int64
BCHBTC    757
Name: ticker_id, dtype: int64
ETHBTC    757
Name: ticker_id, dtype: int64

historical_data_30_table data is already cleaned

## Clean db

In [93]:
# replace_db(exsisting_df, 'historical_data_30_table')

# Clean Database: historical_data_15_table ------

## Connect to database

In [13]:
myeng = create_engine(url)
dbConnection = myeng.connect()
query = f'SELECT * FROM historical_data_15_table'
# get raw historical data table as pandas df
exsisting_df = pd.read_sql(query, dbConnection)
dbConnection.close()

## Observe

In [14]:
exsisting_df

,index,datetime,ticker_id,open,high,low,close,volume
0,0.0,2022-03-16 17:00:00+00:00,ADABTC,2.040000e-05,2.046000e-05,2.033000e-05,2.037000e-05,374547.5000
1,1.0,2022-03-16 17:15:00+00:00,ADABTC,2.036000e-05,2.045000e-05,2.036000e-05,2.043000e-05,109941.9000
2,2.0,2022-03-16 17:30:00+00:00,ADABTC,2.042000e-05,2.044000e-05,2.039000e-05,2.040000e-05,178199.0000
3,3.0,2022-03-16 17:45:00+00:00,ADABTC,2.040000e-05,2.041000e-05,2.036000e-05,2.040000e-05,131871.1000
4,4.0,2022-03-16 18:00:00+00:00,ADABTC,2.039000e-05,2.042000e-05,2.038000e-05,2.039000e-05,96650.8000
...,...,...,...,...,...,...,...,...
58964,NaN,2022-06-11 11:00:00+00:00,HBARBTC,2.730000e-06,2.730000e-06,2.730000e-06,2.730000e-06,89.0000
58965,NaN,2022-06-11 11:00:00+00:00,VETBTC,9.800000e-07,9.800000e-07,9.800000e-07,9.800000e-07,0.0000
58966,NaN,2022-06-11 11:00:00+00:00,LTCBTC,1.854000e-03,1.854000e-03,1.852000e-03,1.852000e-03,301.3350
58967,NaN,2022-06-11 11:00:00+00:00,BCHBTC,5.540000e-03,5.540000e-03,5.530000e-03,5.530000e-03,7.1760
58968,NaN,2022-06-11 11:00:00+00:00,ETHBTC,5.382200e-02,5.382200e-02,5.373500e-02,5.377500e-02,985.6195

In [15]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    8329
Name: ticker_id, dtype: int64
ONEBTC    8329
Name: ticker_id, dtype: int64
HBARBTC    8329
Name: ticker_id, dtype: int64
VETBTC    8329
Name: ticker_id, dtype: int64
LTCBTC    8041
Name: ticker_id, dtype: int64
BCHBTC    8041
Name: ticker_id, dtype: int64
ETHBTC    8041
Name: ticker_id, dtype: int64

## Clean duplicates

In [16]:
exsisting_df.drop_duplicates(subset=['datetime', 'ticker_id'], inplace=True)

In [17]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    8329
Name: ticker_id, dtype: int64
ONEBTC    8329
Name: ticker_id, dtype: int64
HBARBTC    8329
Name: ticker_id, dtype: int64
VETBTC    8329
Name: ticker_id, dtype: int64
LTCBTC    8041
Name: ticker_id, dtype: int64
BCHBTC    8041
Name: ticker_id, dtype: int64
ETHBTC    8041
Name: ticker_id, dtype: int64

historical_data_15_table data is already cleaned

## Clean db

In [85]:
# replace_db(exsisting_df, 'historical_data_15_table')

# Clean Database: psar_macd_ema_table ------

## Connect to database

In [18]:
myeng = create_engine(url)
dbConnection = myeng.connect()
query = f'SELECT * FROM psar_macd_ema_table'
# get raw historical data table as pandas df
exsisting_df = pd.read_sql(query, dbConnection)
dbConnection.close()

## Observe

In [19]:
exsisting_df

,index,datetime,psarl,psars,psaraf,psarr,macd,macdh,macds,ema_200,ticker_id
0,0.0,2022-05-26 17:00:00+00:00,NaN,NaN,0.02,0,NaN,NaN,NaN,NaN,ETHBTC
1,1.0,2022-05-26 17:30:00+00:00,NaN,0.061582,0.04,0,NaN,NaN,NaN,NaN,ETHBTC
2,2.0,2022-05-26 18:00:00+00:00,NaN,0.061582,0.06,0,NaN,NaN,NaN,NaN,ETHBTC
3,3.0,2022-05-26 18:30:00+00:00,NaN,0.061516,0.08,0,NaN,NaN,NaN,NaN,ETHBTC
4,4.0,2022-05-26 19:00:00+00:00,NaN,0.061405,0.10,0,NaN,NaN,NaN,NaN,ETHBTC
...,...,...,...,...,...,...,...,...,...,...,...
9914,NaN,2022-06-11 08:30:00+00:00,NaN,0.055162,0.02,1,-0.000852,-1.047027e-04,-0.000748,0.058284,ETHBTC
9915,NaN,2022-06-11 09:00:00+00:00,NaN,0.055124,0.02,0,-0.000877,-1.032246e-04,-0.000773,0.058236,ETHBTC
9916,NaN,2022-06-11 09:30:00+00:00,NaN,0.055088,0.02,0,-0.000866,-7.407304e-05,-0.000792,0.058191,ETHBTC
9917,NaN,2022-06-11 10:00:00+00:00,NaN,0.055051,0.02,0,-0.000832,-3.174358e-05,-0.000800,0.058148,ETHBTC
9918,NaN,2022-06-11 10:30:00+00:00,NaN,0.055016,0.02,0,-0.000800,-8.513942e-08,-0.000800,0.058105,ETHBTC

In [20]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    1417
Name: ticker_id, dtype: int64
ONEBTC    1417
Name: ticker_id, dtype: int64
HBARBTC    1417
Name: ticker_id, dtype: int64
VETBTC    1417
Name: ticker_id, dtype: int64
LTCBTC    1417
Name: ticker_id, dtype: int64
BCHBTC    1417
Name: ticker_id, dtype: int64
ETHBTC    1417
Name: ticker_id, dtype: int64

## Clean Duplicates

In [21]:
exsisting_df.drop_duplicates(subset=['datetime', 'ticker_id'], inplace=True)

In [22]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    756
Name: ticker_id, dtype: int64
ONEBTC    756
Name: ticker_id, dtype: int64
HBARBTC    756
Name: ticker_id, dtype: int64
VETBTC    756
Name: ticker_id, dtype: int64
LTCBTC    756
Name: ticker_id, dtype: int64
BCHBTC    756
Name: ticker_id, dtype: int64
ETHBTC    756
Name: ticker_id, dtype: int64

In [25]:
exsisting_df.drop(columns='index', inplace=True)

## Clean db

In [26]:
replace_db(exsisting_df, 'psar_macd_ema_table')

# Clean Database: st_rsi_ema_table ------

## Connect to Database

In [27]:
myeng = create_engine(url)
dbConnection = myeng.connect()
query = f'SELECT * FROM st_rsi_ema_table'
# get raw historical data table as pandas df
exsisting_df = pd.read_sql(query, dbConnection)
dbConnection.close()

## Observe

In [28]:
exsisting_df

,index,datetime,supert,supertd,supertl,superts,rsi_14,rsi_14_a_70,rsi_14_b_30,ema_200,ticker_id
0,0.0,2022-03-16 17:00:00+00:00,0.000000,1,NaN,NaN,NaN,0,0,NaN,ADABTC
1,1.0,2022-03-16 17:15:00+00:00,NaN,1,NaN,NaN,NaN,0,0,NaN,ADABTC
2,2.0,2022-03-16 17:30:00+00:00,NaN,1,NaN,NaN,NaN,0,0,NaN,ADABTC
3,3.0,2022-03-16 17:45:00+00:00,NaN,1,NaN,NaN,NaN,0,0,NaN,ADABTC
4,4.0,2022-03-16 18:00:00+00:00,NaN,1,NaN,NaN,NaN,0,0,NaN,ADABTC
...,...,...,...,...,...,...,...,...,...,...,...
113641,NaN,2022-06-11 09:45:00+00:00,0.053256,1,0.053256,NaN,44.545034,0,0,0.057245,ETHBTC
113642,NaN,2022-06-11 10:00:00+00:00,0.053256,1,0.053256,NaN,39.822636,0,0,0.057212,ETHBTC
113643,NaN,2022-06-11 10:15:00+00:00,0.053256,1,0.053256,NaN,41.671138,0,0,0.057179,ETHBTC
113644,NaN,2022-06-11 10:30:00+00:00,0.053256,1,0.053256,NaN,39.781511,0,0,0.057146,ETHBTC
113645,NaN,2022-06-11 10:45:00+00:00,0.053256,1,0.053256,NaN,38.538060,0,0,0.057112,ETHBTC

In [29]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    16482
Name: ticker_id, dtype: int64
ONEBTC    16482
Name: ticker_id, dtype: int64
HBARBTC    16482
Name: ticker_id, dtype: int64
VETBTC    16482
Name: ticker_id, dtype: int64
LTCBTC    15906
Name: ticker_id, dtype: int64
BCHBTC    15906
Name: ticker_id, dtype: int64
ETHBTC    15906
Name: ticker_id, dtype: int64

## Clean Duplicates

In [30]:
exsisting_df.drop_duplicates(subset=['datetime', 'ticker_id'], inplace=True)

In [35]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    8328
Name: ticker_id, dtype: int64
ONEBTC    8328
Name: ticker_id, dtype: int64
HBARBTC    8328
Name: ticker_id, dtype: int64
VETBTC    8328
Name: ticker_id, dtype: int64
LTCBTC    8040
Name: ticker_id, dtype: int64
BCHBTC    8040
Name: ticker_id, dtype: int64
ETHBTC    8040
Name: ticker_id, dtype: int64

In [34]:
exsisting_df.drop(columns='index', inplace=True)

## Clean db

In [36]:
replace_db(exsisting_df, 'st_rsi_ema_table')

# Clean Database: hoffman_table -------

## Connect to Database

In [37]:
myeng = create_engine(url)
dbConnection = myeng.connect()
query = f'SELECT * FROM hoffman_table'
# get raw historical data table as pandas df
exsisting_df = pd.read_sql(query, dbConnection)
dbConnection.close()

## Observe

In [38]:
exsisting_df

,index,datetime,sma_5,ema_18,ema_20,sma_50,sma_89,ema_144,ema_35,ku,a,b,c,rv,y,x,sl,ss,ticker_id
0,0.0,2022-03-16 17:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.300000e-07,3.000000e-08,0.45,1,0.000020,0.000020,1,0,ADABTC
1,1.0,2022-03-16 17:15:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.000000e-08,7.000000e-08,0.45,0,0.000020,0.000020,0,0,ADABTC
2,2.0,2022-03-16 17:30:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000e-08,2.000000e-08,0.45,1,0.000020,0.000020,0,0,ADABTC
3,3.0,2022-03-16 17:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000e-08,0.000000e+00,0.45,1,0.000020,0.000020,0,1,ADABTC
4,4.0,2022-03-16 18:00:00+00:00,0.000020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000e-08,0.000000e+00,0.45,1,0.000020,0.000020,1,0,ADABTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113683,NaN,2022-06-11 09:45:00+00:00,0.053676,0.054112,0.054179,0.055332,0.056228,0.056733,0.054673,0.054754,3.390000e-04,2.470000e-04,0.45,0,0.054095,0.054062,0,0,ETHBTC
113684,NaN,2022-06-11 10:00:00+00:00,0.053791,0.054087,0.054151,0.055268,0.056184,0.056693,0.054628,0.054710,8.300000e-05,6.400000e-05,0.45,0,0.053917,0.053908,0,0,ETHBTC
113685,NaN,2022-06-11 10:15:00+00:00,0.053878,0.054073,0.054132,0.055205,0.056142,0.056656,0.054591,0.054674,6.100000e-05,1.800000e-05,0.45,1,0.053984,0.053977,1,0,ETHBTC
113686,NaN,2022-06-11 10:30:00+00:00,0.053909,0.054049,0.054104,0.055141,0.056099,0.056617,0.054549,0.054633,2.430000e-04,1.350000e-04,0.45,0,0.053894,0.053869,0,0,ETHBTC
113687,NaN,2022-06-11 10:45:00+00:00,0.053919,0.054019,0.054072,0.055075,0.056056,0.056578,0.054506,0.054590,1.190000e-04,1.100000e-04,0.45,0,0.053833,0.053822,0,0,ETHBTC

In [39]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    16488
Name: ticker_id, dtype: int64
ONEBTC    16488
Name: ticker_id, dtype: int64
HBARBTC    16488
Name: ticker_id, dtype: int64
VETBTC    16488
Name: ticker_id, dtype: int64
LTCBTC    15912
Name: ticker_id, dtype: int64
BCHBTC    15912
Name: ticker_id, dtype: int64
ETHBTC    15912
Name: ticker_id, dtype: int64

## Clean Duplicates

In [40]:
exsisting_df.drop_duplicates(subset=['datetime', 'ticker_id'], inplace=True)

In [44]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    8328
Name: ticker_id, dtype: int64
ONEBTC    8328
Name: ticker_id, dtype: int64
HBARBTC    8328
Name: ticker_id, dtype: int64
VETBTC    8328
Name: ticker_id, dtype: int64
LTCBTC    8040
Name: ticker_id, dtype: int64
BCHBTC    8040
Name: ticker_id, dtype: int64
ETHBTC    8040
Name: ticker_id, dtype: int64

In [43]:
exsisting_df.drop(columns='index', inplace=True)

## Replace DB

In [45]:
replace_db(exsisting_df, 'hoffman_table')