# Import Libaraies

In [25]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import matplotlib.pyplot as plt


ticker_label_list = ['ADABTC', 'ONEBTC', 'HBARBTC', 'VETBTC', 'LTCBTC', 'BCHBTC', 'ETHBTC']

## Helper

In [55]:
def replace_db(df, table_name): 
    """_summary_
        replace a db with sqlalchemy
    Args:
        df (pd.DataFrame): df to push to database
        table_name (str): table name in database
    """
    # removed for security reasons

# Clean Database: historical_data_30_table ------

## Connect to database

In [94]:
myeng = create_engine("postgresql://%s:%s@%s:%s/stock_crypto" % (DB_USERNAME, DB_PWD, DB_HOSTNAME, DB_PORT_ID))
dbConnection = myeng.connect()
query = f'SELECT * FROM historical_data_30_table'
# get raw historical data table as pandas df
exsisting_df = pd.read_sql(query, dbConnection)
dbConnection.close()

## Observe

In [95]:
exsisting_df

,datetime,ticker_id,open,high,low,close,volume
0,2022-05-26 17:00:00+00:00,ADABTC,0.000016,0.000016,0.000016,0.000016,7.002756e+05
1,2022-05-26 17:30:00+00:00,ADABTC,0.000016,0.000016,0.000016,0.000016,3.881084e+05
2,2022-05-26 18:00:00+00:00,ADABTC,0.000016,0.000016,0.000016,0.000016,4.512271e+05
3,2022-05-26 18:30:00+00:00,ADABTC,0.000016,0.000016,0.000016,0.000016,1.129116e+06
4,2022-05-26 19:00:00+00:00,ADABTC,0.000016,0.000016,0.000016,0.000016,9.765054e+05
...,...,...,...,...,...,...,...
4923,2022-06-10 08:30:00+00:00,HBARBTC,0.000003,0.000003,0.000003,0.000003,6.718000e+03
4924,2022-06-10 08:30:00+00:00,VETBTC,0.000001,0.000001,0.000001,0.000001,2.000000e+02
4925,2022-06-10 08:30:00+00:00,LTCBTC,0.001962,0.001962,0.001960,0.001960,6.989100e+01
4926,2022-06-10 08:30:00+00:00,BCHBTC,0.005840,0.005850,0.005840,0.005850,4.801800e+01
4927,2022-06-10 08:30:00+00:00,ETHBTC,0.058736,0.058745,0.058720,0.058729,3.256718e+02

In [90]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    704
Name: ticker_id, dtype: int64
ONEBTC    704
Name: ticker_id, dtype: int64
HBARBTC    704
Name: ticker_id, dtype: int64
VETBTC    704
Name: ticker_id, dtype: int64
LTCBTC    704
Name: ticker_id, dtype: int64
BCHBTC    704
Name: ticker_id, dtype: int64
ETHBTC    704
Name: ticker_id, dtype: int64

## Clean Dublicates

In [91]:
exsisting_df.drop_duplicates(subset=['datetime', 'ticker_id'], inplace=True)

In [92]:
exsisting_df

,datetime,ticker_id,open,high,low,close,volume
0,2022-05-26 17:00:00+00:00,ADABTC,0.000016,0.000016,0.000016,0.000016,7.002756e+05
1,2022-05-26 17:30:00+00:00,ADABTC,0.000016,0.000016,0.000016,0.000016,3.881084e+05
2,2022-05-26 18:00:00+00:00,ADABTC,0.000016,0.000016,0.000016,0.000016,4.512271e+05
3,2022-05-26 18:30:00+00:00,ADABTC,0.000016,0.000016,0.000016,0.000016,1.129116e+06
4,2022-05-26 19:00:00+00:00,ADABTC,0.000016,0.000016,0.000016,0.000016,9.765054e+05
...,...,...,...,...,...,...,...
4923,2022-06-10 08:30:00+00:00,HBARBTC,0.000003,0.000003,0.000003,0.000003,6.718000e+03
4924,2022-06-10 08:30:00+00:00,VETBTC,0.000001,0.000001,0.000001,0.000001,2.000000e+02
4925,2022-06-10 08:30:00+00:00,LTCBTC,0.001962,0.001962,0.001960,0.001960,6.989100e+01
4926,2022-06-10 08:30:00+00:00,BCHBTC,0.005840,0.005850,0.005840,0.005850,4.801800e+01
4927,2022-06-10 08:30:00+00:00,ETHBTC,0.058736,0.058745,0.058720,0.058729,3.256718e+02

historical_data_30_table data is already cleaned

## Clean db

In [93]:
# replace_db(exsisting_df, 'historical_data_30_table')

# Clean Database: historical_data_15_table ------

## Connect to database

In [86]:
myeng = create_engine("postgresql://%s:%s@%s:%s/stock_crypto" % (DB_USERNAME, DB_PWD, DB_HOSTNAME, DB_PORT_ID))
dbConnection = myeng.connect()
query = f'SELECT * FROM historical_data_15_table'
# get raw historical data table as pandas df
exsisting_df = pd.read_sql(query, dbConnection)
dbConnection.close()

## Observe

In [87]:
exsisting_df

,datetime,ticker_id,open,high,low,close,volume
0,2022-03-16 17:00:00+00:00,ADABTC,0.000020,0.000020,0.000020,0.000020,374547.500
1,2022-03-16 17:15:00+00:00,ADABTC,0.000020,0.000020,0.000020,0.000020,109941.900
2,2022-03-16 17:30:00+00:00,ADABTC,0.000020,0.000020,0.000020,0.000020,178199.000
3,2022-03-16 17:45:00+00:00,ADABTC,0.000020,0.000020,0.000020,0.000020,131871.100
4,2022-03-16 18:00:00+00:00,ADABTC,0.000020,0.000020,0.000020,0.000020,96650.800
...,...,...,...,...,...,...,...
58215,2022-06-10 08:15:00+00:00,HBARBTC,0.000003,0.000003,0.000003,0.000003,42.000
58216,2022-06-10 08:15:00+00:00,VETBTC,0.000001,0.000001,0.000001,0.000001,1235.000
58217,2022-06-10 08:15:00+00:00,LTCBTC,0.001964,0.001964,0.001960,0.001960,495.232
58218,2022-06-10 08:15:00+00:00,BCHBTC,0.005810,0.005810,0.005800,0.005810,1.400
58219,2022-06-10 08:15:00+00:00,ETHBTC,0.058707,0.058711,0.058700,0.058700,270.236

In [82]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC     8222
ADAUSDT    1625
Name: ticker_id, dtype: int64
ONEBTC     8222
ONEUSDT    1625
Name: ticker_id, dtype: int64
HBARBTC    8222
Name: ticker_id, dtype: int64
VETBTC     8222
VETUSDT    1625
Name: ticker_id, dtype: int64
LTCBTC    7934
Name: ticker_id, dtype: int64
BCHBTC    7934
Name: ticker_id, dtype: int64
ETHBTC    7934
Name: ticker_id, dtype: int64

## Clean duplicates

In [83]:
exsisting_df = exsisting_df[exsisting_df["ticker_id"].str.contains("USDT")==False]
exsisting_df.drop_duplicates(subset=['datetime', 'ticker_id'], inplace=True)

/var/folders/tc/ghq6k32j7ks17t5xtkhk3sl80000gn/T/ipykernel_88984/1589371254.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exsisting_df.drop_duplicates(subset=['datetime', 'ticker_id'], inplace=True)

In [84]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    8222
Name: ticker_id, dtype: int64
ONEBTC    8222
Name: ticker_id, dtype: int64
HBARBTC    8222
Name: ticker_id, dtype: int64
VETBTC    8222
Name: ticker_id, dtype: int64
LTCBTC    7934
Name: ticker_id, dtype: int64
BCHBTC    7934
Name: ticker_id, dtype: int64
ETHBTC    7934
Name: ticker_id, dtype: int64

historical_data_15_table data is already cleaned

## Clean db

In [85]:
# replace_db(exsisting_df, 'historical_data_15_table')

# Clean Database: psar_macd_ema_table ------

## Connect to database

In [78]:
myeng = create_engine("postgresql://%s:%s@%s:%s/stock_crypto" % (DB_USERNAME, DB_PWD, DB_HOSTNAME, DB_PORT_ID))
dbConnection = myeng.connect()
query = f'SELECT * FROM psar_macd_ema_table'
# get raw historical data table as pandas df
exsisting_df = pd.read_sql(query, dbConnection)
dbConnection.close()

## Observe

In [79]:
exsisting_df

,datetime,psarl,psars,psaraf,psarr,macd,macdh,macds,ema_200,ticker_id
0,2022-05-26 17:00:00+00:00,NaN,NaN,0.02,0,NaN,NaN,NaN,NaN,ETHBTC
1,2022-05-26 17:30:00+00:00,NaN,0.061582,0.04,0,NaN,NaN,NaN,NaN,ETHBTC
2,2022-05-26 18:00:00+00:00,NaN,0.061582,0.06,0,NaN,NaN,NaN,NaN,ETHBTC
3,2022-05-26 18:30:00+00:00,NaN,0.061516,0.08,0,NaN,NaN,NaN,NaN,ETHBTC
4,2022-05-26 19:00:00+00:00,NaN,0.061405,0.10,0,NaN,NaN,NaN,NaN,ETHBTC
...,...,...,...,...,...,...,...,...,...,...
4622,2022-06-09 09:00:00+00:00,NaN,0.005885,0.02,0,4.798069e-07,-1.426613e-06,1.906420e-06,0.005949,BCHBTC
4623,2022-06-09 09:30:00+00:00,NaN,0.005885,0.02,0,7.748682e-07,-9.052417e-07,1.680110e-06,0.005948,BCHBTC
4624,2022-06-09 10:00:00+00:00,NaN,0.005884,0.02,0,1.994903e-07,-1.184496e-06,1.383986e-06,0.005947,BCHBTC
4625,2022-06-09 10:30:00+00:00,NaN,0.005883,0.02,0,5.441431e-07,-6.718743e-07,1.216017e-06,0.005946,BCHBTC
4626,2022-06-09 11:00:00+00:00,NaN,0.005883,0.02,0,-7.874724e-07,-1.602792e-06,8.153195e-07,0.005945,BCHBTC

In [74]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    1322
Name: ticker_id, dtype: int64
ONEBTC    1322
Name: ticker_id, dtype: int64
HBARBTC    1322
Name: ticker_id, dtype: int64
VETBTC    1322
Name: ticker_id, dtype: int64
LTCBTC    1322
Name: ticker_id, dtype: int64
BCHBTC    1322
Name: ticker_id, dtype: int64
ETHBTC    1983
Name: ticker_id, dtype: int64

## Clean Duplicates

In [75]:
exsisting_df.drop_duplicates(subset=['datetime', 'ticker_id'], inplace=True)

In [76]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    661
Name: ticker_id, dtype: int64
ONEBTC    661
Name: ticker_id, dtype: int64
HBARBTC    661
Name: ticker_id, dtype: int64
VETBTC    661
Name: ticker_id, dtype: int64
LTCBTC    661
Name: ticker_id, dtype: int64
BCHBTC    661
Name: ticker_id, dtype: int64
ETHBTC    661
Name: ticker_id, dtype: int64

## Clean db

In [77]:
# replace_db(exsisting_df, 'psar_macd_ema_table')

# Clean Database: st_rsi_ema_table ------

## Connect to Database

In [70]:
myeng = create_engine("postgresql://%s:%s@%s:%s/stock_crypto" % (DB_USERNAME, DB_PWD, DB_HOSTNAME, DB_PORT_ID))
dbConnection = myeng.connect()
query = f'SELECT * FROM st_rsi_ema_table'
# get raw historical data table as pandas df
exsisting_df = pd.read_sql(query, dbConnection)
dbConnection.close()

## Observe

In [71]:
exsisting_df

,datetime,supert,supertd,supertl,superts,rsi_14,rsi_14_a_70,rsi_14_b_30,ema_200,ticker_id
0,2022-03-16 17:00:00+00:00,0.000000,1,NaN,NaN,NaN,0,0,NaN,ADABTC
1,2022-03-16 17:15:00+00:00,NaN,1,NaN,NaN,NaN,0,0,NaN,ADABTC
2,2022-03-16 17:30:00+00:00,NaN,1,NaN,NaN,NaN,0,0,NaN,ADABTC
3,2022-03-16 17:45:00+00:00,NaN,1,NaN,NaN,NaN,0,0,NaN,ADABTC
4,2022-03-16 18:00:00+00:00,NaN,1,NaN,NaN,NaN,0,0,NaN,ADABTC
...,...,...,...,...,...,...,...,...,...,...
56209,2022-06-09 14:15:00+00:00,0.059647,-1,NaN,0.059647,49.690980,0,0,0.059429,ETHBTC
56210,2022-06-09 14:30:00+00:00,0.059647,-1,NaN,0.059647,51.317443,0,0,0.059430,ETHBTC
56211,2022-06-09 14:45:00+00:00,0.059647,-1,NaN,0.059647,50.947898,0,0,0.059430,ETHBTC
56212,2022-06-09 15:00:00+00:00,0.059647,-1,NaN,0.059647,53.947866,0,0,0.059431,ETHBTC
56213,2022-06-09 15:15:00+00:00,0.059647,-1,NaN,0.059647,48.406452,0,0,0.059432,ETHBTC

In [66]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    15921
Name: ticker_id, dtype: int64
ONEBTC    8154
Name: ticker_id, dtype: int64
HBARBTC    8154
Name: ticker_id, dtype: int64
VETBTC    8154
Name: ticker_id, dtype: int64
LTCBTC    7866
Name: ticker_id, dtype: int64
BCHBTC    7866
Name: ticker_id, dtype: int64
ETHBTC    7866
Name: ticker_id, dtype: int64

## Clean Duplicates

In [67]:
exsisting_df.drop_duplicates(subset=['datetime', 'ticker_id'], inplace=True)

In [68]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    8154
Name: ticker_id, dtype: int64
ONEBTC    8154
Name: ticker_id, dtype: int64
HBARBTC    8154
Name: ticker_id, dtype: int64
VETBTC    8154
Name: ticker_id, dtype: int64
LTCBTC    7866
Name: ticker_id, dtype: int64
BCHBTC    7866
Name: ticker_id, dtype: int64
ETHBTC    7866
Name: ticker_id, dtype: int64

## Clean db

In [69]:
# replace_db(exsisting_df, 'st_rsi_ema_table')

# Clean Database: hoffman_table -------

## Connect to Database

In [62]:
myeng = create_engine("postgresql://%s:%s@%s:%s/stock_crypto" % (DB_USERNAME, DB_PWD, DB_HOSTNAME, DB_PORT_ID))
dbConnection = myeng.connect()
query = f'SELECT * FROM hoffman_table'
# get raw historical data table as pandas df
exsisting_df = pd.read_sql(query, dbConnection)
dbConnection.close()

## Observe

In [63]:
exsisting_df

,datetime,sma_5,ema_18,ema_20,sma_50,sma_89,ema_144,ema_35,ku,a,b,c,rv,y,x,sl,ss,ticker_id
0,2022-03-16 17:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.300000e-07,3.000000e-08,0.45,1,0.000020,0.000020,1,0,ADABTC
1,2022-03-16 17:15:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.000000e-08,7.000000e-08,0.45,0,0.000020,0.000020,0,0,ADABTC
2,2022-03-16 17:30:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000e-08,2.000000e-08,0.45,1,0.000020,0.000020,0,0,ADABTC
3,2022-03-16 17:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000e-08,0.000000e+00,0.45,1,0.000020,0.000020,0,1,ADABTC
4,2022-03-16 18:00:00+00:00,0.000020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000e-08,0.000000e+00,0.45,1,0.000020,0.000020,1,0,ADABTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56251,2022-06-09 15:45:00+00:00,0.059498,0.059486,0.059486,0.059505,0.059461,0.059432,0.059486,0.059525,4.300000e-05,4.300000e-05,0.45,0,0.059483,0.059478,0,0,ETHBTC
56252,2022-06-09 16:00:00+00:00,0.059498,0.059487,0.059487,0.059505,0.059464,0.059433,0.059487,0.059526,4.800000e-05,2.000000e-06,0.45,1,0.059497,0.059493,1,0,ETHBTC
56253,2022-06-09 16:15:00+00:00,0.059472,0.059478,0.059479,0.059504,0.059465,0.059433,0.059483,0.059521,5.100000e-05,1.600000e-05,0.45,1,0.059434,0.059429,1,0,ETHBTC
56254,2022-06-09 16:30:00+00:00,0.059463,0.059472,0.059473,0.059502,0.059466,0.059432,0.059479,0.059517,2.200000e-05,1.300000e-05,0.45,0,0.059407,0.059405,0,0,ETHBTC
56255,2022-06-09 16:45:00+00:00,0.059443,0.059468,0.059470,0.059499,0.059467,0.059432,0.059476,0.059515,4.200000e-05,9.000000e-06,0.45,1,0.059433,0.059429,0,0,ETHBTC

In [58]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    24160
Name: ticker_id, dtype: int64
ONEBTC    16320
Name: ticker_id, dtype: int64
HBARBTC    16320
Name: ticker_id, dtype: int64
VETBTC    16320
Name: ticker_id, dtype: int64
LTCBTC    15744
Name: ticker_id, dtype: int64
BCHBTC    15744
Name: ticker_id, dtype: int64
ETHBTC    15744
Name: ticker_id, dtype: int64

## Clean Duplicates

In [59]:
exsisting_df.drop_duplicates(subset=['datetime', 'ticker_id'], inplace=True)

In [60]:
for i in ticker_label_list:
    ticker_df = exsisting_df[exsisting_df['ticker_id'].str.contains(i[:-3])]
    print(ticker_df['ticker_id'].value_counts())

ADABTC    8160
Name: ticker_id, dtype: int64
ONEBTC    8160
Name: ticker_id, dtype: int64
HBARBTC    8160
Name: ticker_id, dtype: int64
VETBTC    8160
Name: ticker_id, dtype: int64
LTCBTC    7872
Name: ticker_id, dtype: int64
BCHBTC    7872
Name: ticker_id, dtype: int64
ETHBTC    7872
Name: ticker_id, dtype: int64

## Replace DB

In [61]:
# replace_db(exsisting_df, 'hoffman_table')